<div class="nav">
  <div class="nav__container" fxLayout="column">
    <div fxLayout="row" class="nav__logo-container p-10 hand-cursor">
      <img routerLink="Home" class="nav__logo" src="/assets/images/logo.png" alt="logo" />
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between" class="nav__side-items color--white-color">
      <div fxLayout="column" class="item__list">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="time-table mt-20 py-8 pl-24">
          <mat-icon class="table-icon item-list-icon font-size-20">web</mat-icon>
          <span class="hand-cursor">Time Table</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="projects py-8 pl-24">
          <mat-icon class="project-icon item-list-icon font-size-20">apps</mat-icon>
          <span class="hand-cursor">Projects</span>
        </div>
        <div routerLink="Modules" routerLinkActive="bg--light-blue" fxLayout="row" fxLayoutAlign="start center"
             fxLayoutGap="8px" class="modules py-8 pl-24">
          <mat-icon class="item-list-icon font-size-20">widgets</mat-icon>
          <span class="hand-cursor">Modules</span>
        </div>
      </div>
      <footer fxLayout="column" fxLayoutAlign="start bottom" fxLayoutGap="4px" class="footer color--white-color pl-16">
        <p class="footer__copyright-text font-size-12">&copy; All Rights Reserved, Selise Bhutan</p>
        <p class="footer__developer-description font-size-10">Technology and Design by <span
          class="footer__text-underline">Selise CPQ</span></p>
      </footer>
    </div>
  </div>
</div>
