<nav class="nav" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-around center" class="logo-container p-12">
    <img class="logo" src="/assets/images/logo.png" alt="logo">
    <div class="logo"></div>
    <mat-icon class="menu-icon">menu</mat-icon>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between" class="side-items">
    <div class="item-list" fxLayout="column" fxLayoutGap="32px">
      <div class="time-table" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <mat-icon class="table-icon item-list-icon">table_chart</mat-icon>
        <span class="item-text">Time Table</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="projects">
        <mat-icon class="project-icon item-list-icon">grid_on</mat-icon>
        <span class="item-text">Projects</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="modules">
        <mat-icon class="module-icon item-list-icon">grid_view</mat-icon>
        <span class="item-text">Modules</span>
      </div>
    </div>
    <footer fxLayout="column" fxLayoutAlign="start bottom" fxLayoutGap="4px" class="footer footer--align">
      <p class="copyright-text">&copy; All Rights Reserved, Selise Bhutan</p>
      <p class="developer-description">Technology and Design by <span class="underline">Selise CPQ</span></p>
    </footer>
  </div>
</nav>
