@import "../../assets/styles/variables";
@import "../../assets/styles/mixin";
@import "/src/assets/styles/common";

.nav {
  height: 100%;

  .nav__container{
    height: 100%;
    //height: inherit;
    font-family: $font-family;
    background: $primary;
    width: 306px;
  }

  .nav__logo-container {
    box-shadow: inset 0px -1px 0px rgba($black-color, 0.16);

    .nav__logo {
      width: 39%;
    }

    .nav__menu-icon {
      @include icon-style();
      z-index: 9999;

    }
  }

  .nav__side-items {
    height: 100%;
  }

  .footer {
    font-family: $font-family;
  }

  .footer__copyright-text {
    font-weight: 400;
    letter-spacing: 0.4px;
  }

  .footer__developer-description {
    letter-spacing: 0.4px;

    .footer__text-underline {
      text-decoration: underline;
    }
  }
  .mat-drawer-content {
     background-color: $primary;
  }
}
