@import "../../assets/styles/variables";
@import "../../assets/styles/mixin";
@import "/src/assets/styles/common";

.nav {
  height: 100%;
  font-family: $font-family;

  .nav__container{
    background: $primary;
    height: 100vh;
  }

  .nav__logo-container {
    box-shadow: inset 0px -1px 0px rgba($black-color, 0.16);

    .nav__logo {
      width: 39%;
    }

    .nav__menu-icon {
      @include icon-style();
    }
  }

  .nav__side-items {
    height: 100%;
  }

  .footer {
    font-family: $font-family;
  }

  .footer__copyright-text {
    font-weight: 400;
    letter-spacing: 0.4px;
  }

  .footer__developer-description {
    letter-spacing: 0.4px;

    .footer__text-underline {
      text-decoration: underline;
    }
  }
}
