<div class="tool-bar bg--white-color font-size-12">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="tool-bar-container">
    <p class="title">Modules</p>
    <div fxLayout="row" fxLayoutAlign="space-between" class="right-compo">
      <div fxLayout="row" class="user">
        <img class="profile" src="/assets/images/profile.png" alt="profile">
        <div class="indicator"></div>
        <div fxLayout="column" class="user-detail">
          <p class="user-name">Tandin Wangmo</p>
          <p class="user-role">Admin</p>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-evenly center" class="translation">
        <p class="language">EN</p>
        <mat-icon class="dropdown">expand_more</mat-icon>
      </div>
    </div>
  </div>
</div>
