@import "../../assets/styles/variables";
@import "../../assets/styles/mixin";
@import "/src/assets/styles/common";

.tool-bar {
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  z-index: 200;

  &__container {

    &__title {
      margin: 0;
      font-weight: 400;
      letter-spacing: 0.15px;
    }

    .tool-bar__right-compo {
      width: 22%;

      @media only screen and (max-width: 960px){
        width: 100%;
      }
    }
    .tool-bar__user {
      position: relative;
      width: 167px;
      border-radius: 4px;
      border: 1px solid rgba($black-color, 0.38);

      .tool-bar__indicator {
        position: absolute;
        left: 36px;
        top: 24px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        border: 1px solid $white-color;
      }
      .tool-bar__profile-pic {
        width: 32px;
        height: 32px;
      }

      .tool-bar__user-name {
        margin: 0;
        font-family: $font-family;
        height: 14px;
        color: rgba($black-color, 0.6);
        font-weight: 600;
      }

      .tool-bar__user-role {
        margin: 0;
        font-family: $font-family;
        height: 12px;
        color: rgba($black-color, 0.6);
        font-weight: 400;
      }
    }

    .tool-bar__translation {
      width: 82px;
      border: 1px solid rgba($black-color, 0.38);
      border-radius: 4px;

      .tool-bar__translation-language {
        margin: 0;
        font-weight: 400;
        letter-spacing: 1.42px;
        font-family: $font-family;
      }
    }
  }
}


