@import "/src/assets/styles/variables";
@import "/src/assets/styles/mixin";

::ng-deep.mat-dialog-container {
  border-top: 4px solid $primary;
}


.add-dialog {
  font-family: $font-family;
  border-radius: 4px 4px 0px 0px;

  .add-dialog__content-input {
    border: none;
    outline: none;
  }

  .add-dialog__close-btn {
    border-radius: 4px;
    border: 1px solid $primary;
  }
  .add-dialog__add-btn {
    border-radius: 4px;
  }
}
