<mat-drawer-container class="wrapper bg--white-smoke" autosize>
  <mat-drawer class="bg-primary-color" #drawer [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="screenWidth > 959">
    <app-side-nav></app-side-nav>
  </mat-drawer>

  <div class="bg--white-smoke">
    <div fxLayout.xs="column" class="bg--white-smoke">
      <app-tool-bar (navToggle)="sideNav.toggle()"></app-tool-bar>
      <app-add-modules></app-add-modules>
      <div class="pb-20">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</mat-drawer-container>
