.wrapper {
  width: 100%;
  height: 100%;
  background-color: rgb(245,245,245);
  .one {
    width: 16%;
  }

  .right-top {
    width: 84%;

    .two {
      width: 100%;
    }

    .add-modules {
      //background-color: yellow;
      margin: 0 auto;
      width: 80%;
    }
  }

}
