@import "../../assets/styles/variables";

@mixin icon-style() {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

//font-size
@mixin font-size($font-size) {
  @each $size in $font-size {
    .font-size-#{$size}{
      font-size: #{$size}px !important;
    }
    //icon-size
    .i-s-#{$size}{
      font-size: #{$size}px;
      height: #{$size}px;
      width: #{$size}px;
    }
  }
}

//colors
@mixin try-colors( ) {
  $colors: (hint-color, sh-hint, white-color, light-black, yellow-color, light-color, primary-color);
  $assign-colors: (
    'hint-color': $black-color-6,
    'sh-hint': $black-color-38,
    'white-color': $white-color,
    'light-black': $black-color-87,
    'yellow-color': $yellow,
    'light-color': $light-background,
    'primary-color': $primary
  );

  @each $color in $colors {
    $mapped-color: map-get($assign-colors, $color);
    .text-#{$color} {
      color: $mapped-color;
    }
    .bg-#{$color}{
      background-color: $mapped-color;
    }
  }
}

//margin
@mixin margins($margins) {
  @each $margin in $margins {
    .m-#{$margin} {
      margin: #{$margin}px !important;
    }
    .mt-#{$margin} {
      margin-top: #{$margin}px;
    }
    .mr-#{$margin} {
      margin-right: #{$margin}px;
    }
    .mb-#{$margin} {
      margin-bottom: #{$margin}px;
    }
    ml-#{$margin} {
      margin-left: #{$margin}px;
    }
  }
}

//padding
@mixin padding($paddings) {
  @each $padding in $paddings {
    .p-#{$padding} {
      padding: #{$padding}px;
    }
    .p-s-#{$padding} {
      padding: #{$padding}px #{$padding}px;
    }
    .pl-#{$padding} {
      padding-left: #{$padding}px;
    }
    .pr-#{$padding} {
      padding-right: #{$padding}px;
    }
    .pt-#{$padding} {
      padding-top: #{$padding}px;
    }
    .pb-#{$padding} {
      padding-bottom: #{$padding}px;
    }
    .px-#{$padding} {
      padding-left: #{$padding}px;
      padding-right: #{$padding}px;
    }
    .py-#{$padding} {
      padding-top: #{$padding}px !important;
      padding-bottom: #{$padding}px !important;
    }
  }
}

//@each $size in $sizes {
//  .icon-#[$size] {
//
//}
//}
