$font-family: 'Mulish', sans-serif;
$primary: #0166B3;
$white: #FFFFFF;
$hint-color: rgba(0, 0, 0, 0.6);
$sh-hint: rgba(0, 0, 0, 0.38);
$black: rgba(0, 0, 0, 0.87);
$font-size: (2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 24, 26, 28, 30);
$colors: ($white, $hint-color, $sh-hint, $black);
$margins: (2, 4, 6, 8, 10, 12, 14, 16);
$paddings: (2, 4, 6, 8, 10, 12, 14, 16);

