@import "../../assets/styles/variables";
@import "../../assets/styles/mixin";

.add-module {
  margin: 0 auto;
  width: 96%;
  font-family: $font-family;
  z-index: 1;
  .add-module__crud {
    border-radius: 4px;

    .add-module__text-container {
      border-radius: 4px;
    }

    .add-module__text {
      font-weight: 400;
    }

    .add-module__hint {
      font-weight: 400;
      letter-spacing: 0.15px;
    }

    .add-module__btn-container {
      height: 40px;
      position: relative;

      @media only screen and(max-width: 600px) {
        width: 100%;
      }

      .add-module__btn-icon {
        position: absolute;
        left: 14px;
        top: 10px;
        z-index: 100;
        @include icon-style();
      }

      .add-module__btn {
        font-weight: 400;
        letter-spacing: 1.25px;

        @media only screen and(max-width: 600px) {
          width: 100%;
        }
      }
    }
  }
  .add-module__search {
    position: relative;

    .add-module__search-icon {
      position: absolute;
      left: 12px;
    }

    .add-module__search-bar {
      outline: none;
      border: none;
    }

    .add-module__search-view {
      border: 0.5px solid rgba($black-color, 0.6);
      box-shadow: inset 0px 0px 10px rgba($black-color, 0.25);
      border-radius: 4px 0px 0px 4px;
    }

    .add-module__search-menu {
      border: 0.5px solid rgba($black-color, 0.6);
      border-radius: 0px 4px 4px 0px;
    }
  }
}
