@import "../../assets/styles/variables";
@import "../../assets/styles/mixin";

.module-card-container {
  margin: 0 auto;
  width: 96%;
  font-family: $font-family;

  .module-card {
    border-radius: 4px;
    //height: 200px;
    .module-image {
      //width: 220px;
      height: auto;
    }
  }
}
