@import "../../assets/styles/variables";
@import "../../assets/styles/mixin";
@import "/src/assets/styles/common";


.card-container {
  margin: 0 auto;
  width: 96%;

  &__module {
    border-radius: 4px;
  }
}
